@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Nunito';
		src: url('/fonts/Nunito.ttf');
	}

	* {
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	body {
		@apply font-nunito bg-white text-black;
	}

	.button:disabled,
	.input:disabled {
		@apply text-gray-400 fill-gray-400 !brightness-100 cursor-default;
	}

	.input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
		-webkit-text-fill-color: black;
	}

	.input:-webkit-autofill:disabled {
		-webkit-text-fill-color: theme('colors.gray.400');
	}
}

@layer components {
	.button {
		@apply p-2 flex justify-center items-center border-2 outline-none rounded-md uppercase bg-white text-black border-black fill-black hover:brightness-90 active:brightness-85 cursor-pointer touch-manipulation;
	}

	.button-transparent-black {
		@apply button border-none bg-transparent hover:bg-black/10 active:bg-black/[0.15] !brightness-100;
	}

	.button-transparent-white {
		@apply button-transparent-black hover:bg-white/10 active:bg-white/[0.15] text-white fill-white;
	}

	.input {
		@apply p-2 border-2 focus:outline outline-1 rounded-md border-black outline-black;
	}
}

@layer utilities {
	.no-scroll {
		@apply fixed w-full h-full overflow-hidden;
	}

	.placeholder-white::placeholder {
		@apply text-white/50;
	}

	.placeholder-black::placeholder {
		@apply text-black/50;
	}
}
