@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Nunito';
		font-weight: normal;
		font-display: block;
		src: url('/fonts/Nunito-Normal.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Nunito';
		font-weight: bold;
		font-display: block;
		src: url('/fonts/Nunito-Bold.woff2') format('woff2');
	}

	* {
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	::-webkit-scrollbar {
		display: none;
	}

	body {
		@apply overflow-x-hidden font-nunito bg-white text-black;
	}

	.button:disabled,
	.input:disabled {
		@apply text-gray-400 fill-gray-400 !brightness-100 cursor-default;
	}

	.button-transparent-black:disabled,
	.button-transparent-white:disabled {
		@apply hover:bg-transparent active:bg-transparent;
	}

	.input:-webkit-autofill,
	.input:-webkit-autofill:hover,
	.input:-webkit-autofill:focus {
		-webkit-text-fill-color: black;
		-webkit-box-shadow: 0 0 0px 1000px white inset;
		transition: background-color 5000s ease-in-out 0s;
	}

	.input:-webkit-autofill:disabled {
		-webkit-text-fill-color: theme('colors.gray.400');
	}
}

@layer components {
	.button {
		@apply relative p-2 flex justify-center items-center border-2 outline-none rounded-md font-bold uppercase bg-white text-black fill-black border-white hover:brightness-95 active:brightness-90 cursor-pointer touch-manipulation;
	}

	.button-border {
		@apply button border-black;
	}

	.button-primary {
		@apply button bg-lime-500 text-white border-lime-500;
	}

	.button-transparent-black {
		@apply button bg-transparent hover:bg-black/10 active:bg-black/[0.15] border-transparent !brightness-100;
	}

	.button-transparent-white {
		@apply button-transparent-black hover:bg-white/[0.15] active:bg-white/20 text-white fill-white;
	}

	.link {
		@apply outline-none text-lime-500 font-bold underline hover:brightness-95 active:brightness-90 cursor-pointer;
	}

	.input {
		@apply p-2 border-2 outline-none rounded-md border-black hover:brightness-95 focus:brightness-90;
	}

	.error {
		@apply text-sm text-center uppercase text-red-500;
	}
}

@layer utilities {
	.no-scroll {
		@apply fixed w-full h-full overflow-hidden;
	}

	.placeholder-transparent-white::placeholder {
		@apply text-white/50;
	}

	.placeholder-transparent-black::placeholder {
		@apply text-black/50;
	}
}
