@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat.ttf');
	}

	* {
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	body {
		@apply font-montserrat bg-white text-black;
	}
}

@layer components {
	.button {
		@apply p-2 flex justify-center items-center border-3 outline-none rounded-md uppercase bg-white text-black border-black hover:brightness-80 active:brightness-70 cursor-pointer transition-[background-color,color,filter] duration-200;
	}

	.button-transparent-black {
		@apply button border-none bg-transparent hover:bg-black/20 active:bg-black/30 !brightness-100;
	}

	.button-transparent-white {
		@apply button-transparent-black hover:bg-white/20 active:bg-white/30;
	}
}

@layer utilities {
	.no-scroll {
		@apply fixed w-full h-full overflow-hidden;
	}
}
